@model List<ProjectBuilder.ViewModels.Configuration.IndexNodeViewModel>

<ul class="nav nav-list affix">
    @foreach (var node in Model)
    { 
        <li>
            <a href='#' data-id='@node.Id'>@node.Name</a>
        </li>
    }
</ul>