@model ProjectBuilder.ViewModels.Configuration.IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Hero {
<h1>Configuration</h1>
<p>
    Set up the project builder and get all the pieces working nicely
</p>
}

<div class="span3">
    @Html.Partial("_NodeList", Model.Nodes)
</div>