@model ProjectBuilder.ViewModels.Configuration.IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Javascript {
    <script type='text/javascript'>
        var nodes = @Html.Raw(Json.Encode(Model.Nodes));
    </script>
    <script type='text/javascript' src='@Url.Content("~/Scripts/configuration/view-model.js")'></script>
}

@section Hero {
<h1>Configuration</h1>
<p>
    Set up the project builder and get all the pieces working nicely
</p>
}

<div id='node-list' class="span3">
    <div>
        <button id='add-node' class='btn btn-primary' data-bind='click: addNode'>Add Node</button>
    </div>

    <ul data-bind='foreach: nodes'>
        <li>
            <div class='pull-right'>
                <a href='/api/node/delete' class='pull-right' data-bind="click: $parent.deleteNode"><i class='icon icon-remove'></i></a>
            </div>
            <div data-bind="text: Name"></div>
        </li>
    </ul>
</div>

<div id='modal-node-dialog' class='modal fade' data-bind='modal: modalNode'>
    <div class='modal-header'>
        <button class='close' data-dismiss='modal'>&times;</button>
        <h3>Node Form</h3>
    </div>
    <div class='modal-body'>
        <form id='node-form' class='form-horizontal' data-add-url='/api/node/add' data-edit-url='/api/node/edit'>
            <div class='control-group'>
                <label class='control-label' for='node-name'>Name:</label>
                <div class='controls'>
                    <input type='text' id='node-name' placeholder='Name of node' data-bind='value: Name' />
                </div>
            </div>
            <div class='control-group'>
                <label class='control-label' for='node-description'>Description:</label>
                <div class='controls'>
                    <textarea id='node-description' placeholder='Description of node' data-bind='value: Description'>
                    </textarea>
                </div>
            </div>
        </form>
    </div>
    <div class='modal-footer'>
        <button class='btn btn-primary' data-bind='click: $root.saveNode'>Save</button>
        <button class='btn' data-dismiss='modal'>Cancel</button>
    </div>
</div>