@model ProjectBuilder.ViewModels.Configuration.IndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Javascript {
    <script type='text/javascript'>
        var nodes = @Html.Raw(Json.Encode(Model.Nodes));
    </script>
    <script type='text/javascript' src='@Url.Content("~/Scripts/configuration/view-model.js")'></script>
}

@section Hero {
<h1>Configuration</h1>
<p>
    Set up the project builder and get all the pieces working nicely
</p>
}

<div id='node-list' data-save-url='@Url.Action("Save", "Node")' data-delete-url="@Url.Action("Delete", "Node")">
    <div>
        <button id='add-node' class='btn btn-primary' data-bind='click: addNode'>Add Node</button>
    </div>

    <div class='accordion' data-bind='template: {name: "node-template", foreach: nodes}'>
        
    </div>
</div>

<div id='modal-node-dialog' class='modal fade' data-bind='modal: modalNode'>
    <div class='modal-header'>
        <button class='close' data-dismiss='modal'>&times;</button>
        <h3>Node Form</h3>
    </div>
    <div class='modal-body'>
        <form id='node-form' class='form-horizontal'>
            <div class='control-group' data-bind='validationElement: Name'>
                <label class='control-label' for='node-name'>Name:</label>
                <div class='controls'>
                    <input type='text' class='input-xlarge' placeholder='Name of node' data-bind='value: Name' />
                </div>
            </div>
            <div class='control-group' data-bind='validationElement: Description'>
                <label class='control-label' for='node-description'>Description:</label>
                <div class='controls'>
                    <textarea class='input-xlarge' rows='6' placeholder='Description of node' data-bind='value: Description'>
                    </textarea>
                </div>
            </div>
        </form>
    </div>
    <div class='modal-footer'>
        <button class='btn btn-primary' data-bind='click: $root.saveNode'>Save</button>
        <button class='btn' data-dismiss='modal'>Cancel</button>
    </div>
</div>

<script type='text/html' id='node-template' class='hide'>
    <div class='accordion-group'>
        <div class='accordion-heading' data-bind='drag: {appendTo: "body", containment: "#content", helper: "clone"},
                                                  drop: {drop: function (evt, ui) { $root.updateParent(evt, ui, this) }}'>
            <a class='accordion-toggle' data-toggle='collapse' data-bind='attr: {href: Anchor}, text: Name' />
        </div>
        <div class='accordion-body collapse' data-bind='attr: {id: Uri}'>
            <div class='accordion-inner'>
                <div data-bind='text: Description'></div>
                <div>
                    <button class='remove btn btn-danger btn-large pull-right'><i href='icon-remove'></i> Delete</button>
                    <button class='btn btn-warning btn-small' data-bind='click: $root.editNode'><i href='icon-edit'></i> Edit</button>
                    <button class='btn btn-info btn-small' data-bind='click: $root.addChild'><i href='icon-plus'></i> Add</button>
                </div>

                <div class='accordion' data-bind='template: {name: "node-template", foreach: Children }'>
                </div>
            </div>
        </div>
    </div>
</script>