@model ProjectBuilder.ViewModels.Home.Index.IndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Hero
{
    <h1>Sparkles Project Builder</h1>
    <p>
        Find the Project Builder script you need, or construct a new one
    </p>
}

<div class="row-fluid">
    <div class="span3">
        <h2>Recently Updated Projects</h2>
        <ul>
        @foreach (var project in Model.Projects)
        {
            <li>@project.Name - <em>@project.Description</em></li>
        }
        </ul>
    </div>
    <div class="span9">
        <h2>Whatever</h2>
        <p>
            Text about stuff here. Yadda yadda yadda
        </p>
    </div>
</div>
